header {
        background-color: black;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 18px;
        font-style: oblique;
    
}

h1 {
    font- font-size: 27px;
    
}